extends ../form

block title
  title=title || "Add New Flower"

block header
  h1= title || "Add New Flower"

block form elements
  label(for='name') Name:
  input#name(type='text', placeholder='Enter name here' name='name')

  label(for='description') Description:
  input#description(type='text', placeholder='Enter description here' name='description')

  label(for='price') Description:
  input#price(type='text', placeholder='Enter price here' name='description')

  -
    regionList.sort(
      function(a, b) {
          let textA = a.family_name.toUpperCase();
          let textB = b.family_name.toUpperCase();
          return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
        }
    );

  select(placeholder='select region', name='region', required='true')
    for region in regionList
      option(value=region._id) #{region.name}

  button(type='submit') Submit
