extends layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/all_flowers.css')

block content
  h1= title
  ul.flower-list
    each flower in flower_list
      li
        - const { name, description, region, url } = flower
        h2
          a(href= url)= name
        p= region.name
        p= description
