extends layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/form.css')

block content
  block header
    h1= title
  form(method='POST' action='')
    block form elements

    if errors
     ul
      for error in errors
       li!= error.msg
