extends layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h1= title
  p Welcome to #{title}
  p There are #{flower_count} flowers
  p There are #{region_count} regions
