extends layout

block more style sheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  h1= title
  p Welcome to #{title}
  p There are #[span.pale-text #{flower_count}] flowers
  p There are #[span.pale-text #{region_count}] regions
