doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/all.css')
    block more style sheets
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    block sidebar
      nav
        h1 Navigation
        a(href='/') Home
        ul.sidebar__flowers
          li
            a(href='/flowers') All flowers
          li
            a(href='/flowers/create') Create flower
        ul.sidebar__regions
          li
            a(href='/regions') All regions
          li
            a(href='/regions/create') Create region
    main
      block content
