main > h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.flower-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.flower-list > li > p {
  font-style: italic;
}
