form {
  display: flex;
  flex-direction: column;
}

input, button[type='submit'] {
  border: 0;
}

input {
  margin-bottom: 30px;
  border-radius: 999px;
  background-color: var(--gray);
  margin-top: 5px;
  color: var(--white);
  padding-left: 10px;
}

input::placeholder {
  text-align: center;
  color: var(--darker-gray);
}

input:hover::placeholder {
  color: var(--white)
}

input:hover {
  outline: 3px solid var(--white);
}

input[type='radio'] {
  height: 15px;
}

button[type='submit'] {
  background-color: var(--gray);
  border: 7px solid var(--darker-black);
  color: var(--pale);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
}

button[type='submit']:hover {
  border-color: var(--white);
  color: var(--white);
}

select {
  height: 100px;
  margin-top: 5px;
}
