form {
  display: flex;
  flex-direction: column;
}

input,
button[type="submit"] {
  border: 0;
}

input {
  margin-bottom: 30px;
  border-radius: 999px;
  background-color: var(--gray);
  margin-top: 5px;
  color: var(--white);
  padding-left: 10px;
}

input::placeholder {
  text-align: center;
  color: var(--darker-gray);
}

input:hover::placeholder {
  color: var(--white);
}

input:hover:not([type="radio"]) {
  outline: 3px solid var(--white);
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 2px solid var(--darker-gray);
  vertical-align: -2px;
  outline: none;
  appearance: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

input[type="radio"]::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-color: var(--white);
  font-size: 1.2em;
  transform-origin: center;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);

  transition: all 0.6s cubic-bezier(0.25, 0.25, 0.56, 1);
}

input[type="radio"]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

input[type="radio"]:hover {
  border-color: var(--white);
}

button[type="submit"],
.button {
  background-color: var(--gray);
  border: 7px solid var(--darker-black);
  color: var(--pale);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.3;
}

button[disabled]:hover::after {
  content: "Delete all flowers to delete region";
  position: absolute;
  background-color: var(--darker-gray);
  color: var(--white);
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

:is(button, .button):hover:not([disabled]) {
  border-color: var(--white);
  color: var(--white);
}

select {
  height: max-content;
  margin-top: 5px;
}

option {
  background-color: var(--black);
}
