:root {
  --black: #212C38;
  --gray: #465363;
  --white: #D7EFE9;
  --pale: #E9DCA5;
  --salmon: #D98E69;
  color: var(--white);
  background-color: var(--black);
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  gap: 30px;
  width: 23%;
}

nav > * {
  width: fit-content;
}

a {
  color: #00B7FF;
}

a:hover {
  color: var(--salmon);
}
